USE [master]
GO
/****** Object:  Database [AutoSeats]    Script Date: 05/05/18 10:37:49 AM ******/
CREATE DATABASE [AutoSeats]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoSeats', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AutoSeats.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AutoSeats_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AutoSeats_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoSeats].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoSeats]
GO
USE [AutoSeats]
GO
/****** Object:  UserDefinedTableType [dbo].[SittingPlanType]    Script Date: 05/05/18 10:37:50 AM ******/
CREATE TYPE [dbo].[SittingPlanType] AS TABLE(
	[room_id] [varchar](50) NULL,
	[roll_number] [varchar](50) NULL,
	[column_index] [int] NULL,
	[row_index] [int] NULL,
	[date] [varchar](50) NULL,
	[shift] [int] NULL,
	[branch_id] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TimeTableType]    Script Date: 05/05/18 10:37:50 AM ******/
CREATE TYPE [dbo].[TimeTableType] AS TABLE(
	[date] [date] NULL,
	[shift] [smallint] NULL,
	[subject_id] [varchar](50) NULL,
	[subject_name] [varchar](50) NULL
)
GO
/****** Object:  Table [dbo].[branch]    Script Date: 05/05/18 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch](
	[branch_code] [varchar](25) NOT NULL,
	[branch_name] [varchar](100) NOT NULL,
	[total_students] [varchar](50) NULL,
 CONSTRAINT [PK_branch_details] PRIMARY KEY CLUSTERED 
(
	[branch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 05/05/18 10:37:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[room_id] [varchar](50) NOT NULL,
	[total_seats] [int] NOT NULL,
	[no_of_column] [int] NOT NULL,
	[no_of_row] [int] NOT NULL,
	[available_seats] [int] NULL,
	[room_block] [varchar](50) NULL,
	[availability] [bit] NULL,
 CONSTRAINT [PK_room_details] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sitting plan]    Script Date: 05/05/18 10:37:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sitting plan](
	[room_id] [varchar](50) NOT NULL,
	[roll_number] [varchar](50) NOT NULL,
	[column_index] [int] NULL,
	[row_index] [int] NULL,
	[date] [varchar](50) NULL,
	[shift] [int] NULL,
	[branch_id] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sittingplanstatus]    Script Date: 05/05/18 10:37:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sittingplanstatus](
	[examdate] [varchar](50) NOT NULL,
	[shift] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[generationtime] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[enrollment_number] [varchar](50) NOT NULL,
	[roll_number] [varchar](50) NOT NULL,
	[year_of_admission] [varchar](30) NULL,
	[branch_id] [varchar](50) NULL,
	[name] [varchar](100) NULL,
	[semester] [varchar](50) NULL,
	[other1] [varchar](50) NULL,
	[other2] [varchar](50) NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[enrollment_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[subject_id] [varchar](25) NOT NULL,
	[subject_name] [varchar](100) NOT NULL,
	[branch_code] [varchar](25) NOT NULL,
	[other1] [varchar](25) NULL,
 CONSTRAINT [PK_subject_details] PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_table]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_table](
	[date] [date] NOT NULL,
	[subject_id] [varchar](50) NOT NULL,
	[shift] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userdata]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userdata](
	[userid] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[type] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[branch] ([branch_code], [branch_name], [total_students]) VALUES (N'9', N'br9', N'50')
GO
INSERT [dbo].[branch] ([branch_code], [branch_name], [total_students]) VALUES (N'BT', N'BT', N'50')
GO
INSERT [dbo].[branch] ([branch_code], [branch_name], [total_students]) VALUES (N'CE', N'CE', N'50')
GO
INSERT [dbo].[room] ([room_id], [total_seats], [no_of_column], [no_of_row], [available_seats], [room_block], [availability]) VALUES (N'KB201', 36, 6, 6, 36, NULL, 1)
GO
INSERT [dbo].[room] ([room_id], [total_seats], [no_of_column], [no_of_row], [available_seats], [room_block], [availability]) VALUES (N'KB302', 49, 7, 7, 49, NULL, 1)
GO
INSERT [dbo].[room] ([room_id], [total_seats], [no_of_column], [no_of_row], [available_seats], [room_block], [availability]) VALUES (N'KB303', 64, 8, 8, 64, NULL, 0)
GO
INSERT [dbo].[sitting plan] ([room_id], [roll_number], [column_index], [row_index], [date], [shift], [branch_id]) VALUES (N'KB303', N'BETN1CS14001', 0, 0, N'2018-12-24', 1, N'CS')
GO
INSERT [dbo].[sitting plan] ([room_id], [roll_number], [column_index], [row_index], [date], [shift], [branch_id]) VALUES (N'KB303', N'BETN1ME14001', 0, 1, N'2018-12-24', 1, N'ME')
GO
INSERT [dbo].[sitting plan] ([room_id], [roll_number], [column_index], [row_index], [date], [shift], [branch_id]) VALUES (N'KB303', N'BETN1CS14002', 0, 2, N'2018-12-24', 1, N'CS')
GO
INSERT [dbo].[sittingplanstatus] ([examdate], [shift], [status], [generationtime]) VALUES (N'2018-05-09', 1, 0, NULL)
GO
INSERT [dbo].[students] ([enrollment_number], [roll_number], [year_of_admission], [branch_id], [name], [semester], [other1], [other2]) VALUES (N'ITMET14S0001', N'BETN1CS14001', N'2014', N'CS', N'Student001', N'6', N'1234', N'null')
GO
INSERT [dbo].[students] ([enrollment_number], [roll_number], [year_of_admission], [branch_id], [name], [semester], [other1], [other2]) VALUES (N'ITMET14S0002', N'BETN1CS14002', N'2014', N'CS', N'Student002', N'6', N'1234', N'null')
GO
INSERT [dbo].[students] ([enrollment_number], [roll_number], [year_of_admission], [branch_id], [name], [semester], [other1], [other2]) VALUES (N'ITMET14S0003', N'BETN1CS14003', N'2014', N'CS', N'Student003', N'6', N'1234', N'null')
GO
INSERT [dbo].[subject] ([subject_id], [subject_name], [branch_code], [other1]) VALUES (N'BTL0601', N'BT1', N'BT', NULL)
GO
INSERT [dbo].[subject] ([subject_id], [subject_name], [branch_code], [other1]) VALUES (N'CEL0601', N'CE1', N'CE', NULL)
GO
INSERT [dbo].[subject] ([subject_id], [subject_name], [branch_code], [other1]) VALUES (N'CSL0601', N'CS1', N'CS', NULL)
GO
INSERT [dbo].[time_table] ([date], [subject_id], [shift]) VALUES (CAST(N'2018-12-24' AS Date), N'CSL0601', 1)
GO
INSERT [dbo].[time_table] ([date], [subject_id], [shift]) VALUES (CAST(N'2018-12-24' AS Date), N'MEL0601', 1)
GO
INSERT [dbo].[time_table] ([date], [subject_id], [shift]) VALUES (CAST(N'2018-12-24' AS Date), N'ECL0601', 1)
GO
INSERT [dbo].[userdata] ([userid], [password], [type]) VALUES (N'examcell', N'1234', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [rollno]    Script Date: 05/05/18 10:37:54 AM ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [rollno] UNIQUE NONCLUSTERED 
(
	[roll_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[branch] ADD  CONSTRAINT [ck_default]  DEFAULT ((50)) FOR [total_students]
GO
/****** Object:  StoredProcedure [dbo].[AddStudents]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery12.sql|3|0|C:\Users\Anurag\AppData\Local\Temp\~vsE643.sql
CREATE procedure [dbo].[AddStudents] @branch varchar(2), @branchname varchar(30)
As
--Count for student
declare @count int;
set @count = 1;

--Insert Query
declare @sqlquery varchar(200);

--Count for Enrollmentno
declare @enrollcount int;
select @enrollcount = max(cast(substring((enrollment_number),10,13) as int)) +1 from dbo.students;
-- Insert 50 records
while @count < 51
begin
--Student roll number
declare @rlfix varchar(50);
set @rlfix = 'BETN1'+@branchname+'140'+RIGHT('00'+ cast(@count as varchar(3)),2);

--Student Enroll Number
declare @enroll varchar(50);
set @enroll = 'ITMET14S0'+ RIGHT('000'+ cast(@enrollcount as varchar(3)),3);

--Student Name
declare @name varchar(50);
set @name = 'Student'+RIGHT('000'+CAST(@count as varchar(3)),3);

set @sqlquery = 'insert into dbo.students values('''+@enroll+''','''+@rlfix+''',''2014'','''+@branch+''','''+@name+''',''6'',''null'',''null'')';
exec(@sqlquery);
set @count = @count+1;
set @enrollcount = @enrollcount+1;
end
GO
/****** Object:  StoredProcedure [dbo].[InsertBranches]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertBranches] @table_name varchar(50)
as
Declare @count int;
set @count=1;
Declare @br varchar (25);
set @br = 'branch';
declare @actualtablename nvarchar(max);
select @actualtablename = QUOTENAME(TABLE_NAME) FROM AutoSeats.INFORMATION_SCHEMA.TABLES
WHERE TABLE_NAME = @table_name;
Declare @sqlquery nvarchar (max);
while @count < 9
begin
set @sqlquery = 'insert into ' + @actualtablename + ' values ('+ cast(@count as varchar)  + ' ,'' '+ (@br + cast(@count as varchar)) +''')';
exec(@sqlquery);
set @count = @count+1;
end

GO
/****** Object:  StoredProcedure [dbo].[InsertSittingPlan]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSittingPlan] 
@SitPlanType SittingPlanType READONLY  
AS  
BEGIN  
    INSERT INTO [sitting plan]  
    SELECT * FROM @SitPlanType  ;

	UPDATE room SET [availability] = '0' where room_id in (SELECT DISTINCT [room_id] from @SitPlanType);
END 
GO
/****** Object:  StoredProcedure [dbo].[InsertTimeTable]    Script Date: 05/05/18 10:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTimeTable]
@TimeTabType TimeTableType READONLY  
AS  
BEGIN  
    INSERT INTO   [dbo].[time_table]
    SELECT [date], subject_id, [shift] FROM   @TimeTabType;

	insert into sittingplanstatus(examdate, [shift], [status]) SELECT DISTINCT [date], [shift] , '0' from   @TimeTabType;
END 
GO
USE [master]
GO
